@import "~bootstrap/dist/css/bootstrap.min.css";

#background {
  background-color: green;
}

#carta {
  border-radius: 20px;
  margin-top: 20px;
}

.palo1 {
  padding-left: 10%;
  font-size: 400%;
}

#numero {
  display: flex;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  font-weight: bold;
  font-size: 400%;
}

.palo2 {
  display: flex;
  justify-content: end;
  padding-bottom: 2%;
  padding-right: 10%;
  font-size: 400%;
}

#botones {
  padding-top: 2%;
}
